.navbar-collapse {
  transition: height 0.6s;
  overflow: hidden;
}

.navbar-collapse.show {
  height: auto;
}

nav {
  background-color: var(--second-color);
  transition: 0.6s;
}

nav .navbar-toggler:focus {
  box-shadow: none;
}
.nav-link {
  color: #fff;
  width: fit-content;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: #fff;
  background-color: var(--main-color);
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.4);
}
.icon-menu {
  color: #fff;
  font-size: 23px;
}